USE [master]
GO
/****** Object:  Database [AccountingTracker]    Script Date: 3/15/2022 12:38:55 PM ******/
CREATE DATABASE [AccountingTracker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AccountingTracker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AccountingTracker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AccountingTracker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AccountingTracker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AccountingTracker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AccountingTracker]
GO
/****** Object:  Table [dbo].[Expensse]    Script Date: 3/15/2022 12:38:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expensse](
	[Exid] [int] IDENTITY(1,1) NOT NULL,
	[ExAmount] [decimal](18, 0) NOT NULL,
	[ExDate] [date] NOT NULL,
	[ExDiscription] [varchar](250) NOT NULL,
	[ExCategory] [varchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Expensse] PRIMARY KEY CLUSTERED 
(
	[Exid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 3/15/2022 12:38:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Expensse]  WITH CHECK ADD  CONSTRAINT [FK_Expensse_UserInfo] FOREIGN KEY([Exid])
REFERENCES [dbo].[UserInfo] ([id])
GO
ALTER TABLE [dbo].[Expensse] CHECK CONSTRAINT [FK_Expensse_UserInfo]
GO
USE [master]
GO
